<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="username">Название задачи</label>
                    <input type="text" id="username" #taskname>
                </div>
                <div class="form-group">
                    <label for="dateStart">Дата начала задачи</label>
                    <input type="text" id="dateStart" #datestart>
                </div>
                <div class="form-group">
                    <label for="dateFinish">Дата конца задачи</label>
                    <input type="text" id="dateFinish" #datefinish>
                </div>
                <div class="form-group">
                  <label for="selectEmployee">Выбор исполнителя</label>
                  <select  name="selectEmployee" id="selectEmployee" (change)="onChange($event.target.value)">
                    <option value="user1" disabled> выбор   </option>
                    <option value="user1">user1</option>
                    <option value="user2">user2</option>
                    <option value="user3">user3</option>
                  </select>
                  <div *ngIf="addEmployee">{{addEmployee}}</div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"
                            (click)="addTask(taskname.value, datestart.value, datefinish.value)">Добавить задачу</button>
                </div>
            </form>
        </div>
    </div>


</div>

<button (click)="showData()">show list</button>
<div *ngIf="showToggle">
  <p>
    Tasks list;
  </p>
  <ul *ngFor="let task of tasks">
    <li>{{task.name}}</li>
  </ul>
</div>

<button (click)="showTasks()">Task list</button>


