#modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 700;
  /* нужно если в документе есть элементы с z-index > 0 */
  background-color: rgba(6, 8, 19, 0.7);
}

#changeTaskForm{
  background-color:white;
  position: fixed;
  left: 30%;
  top: 30%;
  width: 40%;
  height: 30%;
  z-index: 800;
  min-height: 250px;
}

.fixed{
  margin-left: 10%;
  padding-top: 5%;
}

.close{
  z-index: 800;
}

#comment:hover{
  cursor: pointer;
  color: rgba(11,9,106,0.46);
  text-decoration: double;
}

.btn-default {
  color: #d9edf7;
  background-color: #6d889e;
  border-color: #9c8f8f;
}

.btn-default:hover {
  background-color: #1c507b;
}

.choose{
  position:relative;
}

.vertical{
  position: absolute;
  width: 15%;
  top:15%;
  padding-left: 28%;
  margin: auto;
}

.add{
  position: absolute;
  top:13%;
  padding-left: 18%;
}

.text-center{
  text-align: center;
}

#comments{
  /*background-color: grey;*/
  position:relative;
  padding-bottom:50px;
}
#sendMessage{
  position: absolute;
  bottom: 0;
}
#commentsWindow{
  overflow: auto;
  height: 200px;
}

#sendBtn{
  width: 100%;
}
