<div class="row">
  <div class="col-md-12">
    <div class="col-md-2 nav">
      <br>
      <button (click)="showTasks()" class="btn btn-default">показать задачи</button><br>
      <hr>
      <button (click)="toggleMenu('newTask')" class="btn btn-default" id="addTaskBtn">добавить задачy</button><br>
      <hr>
      <button (click)="toggleMenu('newUser')" class="btn btn-default" id="addUserBtn">добавить сотрудника</button><br>
      <div id="comments"></div>
    </div>
    <div class="col-md-10">
      <br>
      <form [hidden] = "!visibleControl.newTask"  class="form-horizontal">
        <div class="form-group">
          <label for="taskname" class="col-md-3 control-label">Название задачи</label>
          <div class="col-md-9">
            <input type="text" id="taskname" #taskname class="form-control" >
          </div>
        </div>
        <div class="form-group">
          <label for="dateStart" class="col-md-3 control-label">Дата начала задачи</label>
          <div class="col-md-9">
            <input type="text" id="dateStart" #datestart class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="dateFinish" class="col-md-3 control-label" >Дата конца задачи</label>
          <div class="col-md-9">
            <input type="text" id="dateFinish" #datefinish class="form-control">
          </div>
        </div>
        <div *ngIf="(datestart.value)&&(datefinish.value)" >
          <div *ngIf="(datefinish.value<datestart.value)" class="alert alert-danger">
            Дата завершения должна быть больше даты начала
          </div>
        </div>
        <div class="form-group choose">
          <label for="selectEmployee" class="col-sm-3 control-label">Выбор исполнителя</label>
          <div class="col-md-9 vertical">
            <select  name="selectEmployee" id="selectEmployee" (change)="onChange($event.target.value)">
              <option value="user1" disabled> выбор   </option>
              <option *ngFor="let employer of employee" [value]="employer.name">{{employer.name}}</option>
            </select>
            <div *ngIf="addEmployee">{{addEmployee}}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-2 col-sm-offset-1">
            <button type="submit" class="btn btn-success "
                    (click)="addTask(taskname.value, datestart.value, datefinish.value)">Добавить задачу</button>
          </div>
        </div>
      </form>
      <form [hidden] = "!visibleControl.newUser" class="form-horizontal">
        <div class="form-group">
          <label for="username" class="col-md-2 control-label">Имя</label>
          <div class="col-md-10">
            <input type="text" id="username" #username class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="position" class="col-md-2 control-label">Должность</label>
          <div class="col-md-10">
            <input type="text" id="position" #position class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-md-2 control-label">Пароль</label>
          <div class="col-md-10">
            <input type="text" id="password" #password class="form-control">
          </div>
        </div>
        <div class="form-group choose">
          <label for="admin" class="col-md-2 control-label">Статус:   </label>
          <div class="col-md-10 add">
            <input type="checkbox" name="checkbox" id="admin" #admin  [(ngModel)]="adminStatus">Админ<br>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-2 col-sm-offset-1">
            <button type="submit" class="btn btn-success"
                  (click)="addEmployer(username.value, position.value, password.value, admin)">Добавить сотрудника</button>
          </div>
        </div>
      </form>
      <div *ngIf="(tasks.length!=0) && visibleControl.tasks">
        <table class="table table-condensed">
          <tr>
            <td>Название</td>
            <td>Дата начала</td>
            <td>Дата звершения</td>
            <td>Ответственные</td>
            <td>Комментарии</td>
            <td>Статус</td>
            <td *ngIf="currentStatus">Удалить</td>
          </tr>
          <tr *ngFor="let task of tasks">
            <td *ngIf="currentStatus"><a href="{{task._id}}">{{task.name}}</a></td>
            <td *ngIf="!currentStatus">{{task.name}}</td>
            <td>{{task.dateStart | date}}</td>
            <td>{{task.dateFinish | date}}</td>
            <td>{{task.reasponsiblePersons}}</td>
            <td><span id="comment" (click)="showComments(task._id)">подробнее...</span></td>
            <td>{{task.status}}</td>
            <td *ngIf="currentStatus"><a href="del{{task._id}}">x</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


<div id="modal">
  <div id="changeTaskForm">
    <span class="close" (click)="closeModalWindow()">Закрыть</span>
    <form class="form-horizontal fixed">
      <div class="form-group">
        <label for="newtaskname">Название задачи</label>
        <input type="text" id="newtaskname" #newtaskname [value]="editTask.name">
      </div>
      <div class="form-group">
        <label for="newdateStart">Дата начала задачи</label>
        <input type="text" id="newdateStart" #newdatestart [value]="editTask.dateStart | date">
      </div>
      <div class="form-group">
        <label for="newdateFinish">Дата конца задачи</label>
        <input type="text" id="newdateFinish" #newdatefinish [value]="editTask.dateFinish | date">
      </div>
      <div class="form-group">
        <label for="newselectEmployee">Выбор исполнителя</label>
        <select  name="selectEmployee" id="newselectEmployee" (change)="onChange($event.target.value)">
          <option value="user1" disabled> выбор   </option>
          <option *ngFor="let employer of employee" [value]="employer.name">{{employer.name}}</option>
        </select>
        <div *ngIf="addEmployee">{{addEmployee}}</div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"
                (click)="editTaskSend(newtaskname.value, newdatestart.value, newdatefinish.value)">Изменить задачу</button>
      </div>
    </form>
  </div>

</div>







