<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <img src="/img/photo.png" alt="photo" class="img-responsive">
      </div>
      <div class="col-md-8">
        <h3><a href="https://github.com/VladTr">gitHub profile</a></h3>
        <h3><a href="https://www.linkedin.com/in/vladtrofimov77/">linkedIn profile</a></h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <td class="col-1">
            <h4>Contact info:</h4>
          </td>
          <td class="col-2">
            cell phone:  097 477 83 70 <br>
            home phone:  048 736 26 15 <br>
            email:suzirie@gmail.com <br>
            Odesa, General Petrov str. 23/2 apt.4
          </td>
        </tr>
        <tr>
          <td>
            <h4>Skills:</h4>
          </td>
          <td>
            Back-end: PHP (Laravel 5) / NodeJS (Express) <br>
            Front-end: HTML5, CSS3, JavaScript (Angular) <br>
            AJAX  / JSON / jQuery / Bootstrap / WebSockets <br>
            Git (used only for individual development) <br>
            Webpack (basic knowledges) <br>
            Java (written a few simple desktop programs) <br>
            English: intermediate  (reading technical documentation, good perception of verbal information, average spoken level)
          </td>
        </tr>
        <tr>
          <td><h4> Education:</h4></td>
          <td>
            1994 – 1999 Odessa National Polytechnic University specialty "management of organizations" master's degree
          </td>
        </tr>
        <tr>
          <td><h4>Languages:</h4></td>
          <td>
            Ukrainian, English
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
