<div class="row">
  <div class="col-md-6">
    <div *ngIf="users" id="users">
      <table class="table table-responsive">
        <tr>
          <td> общий чат:</td><td class="add">добавить в групповой</td>
        </tr>
        <tr *ngFor="let user of users">
          <td>
            {{user}}
          </td>
          <td>
            <div >
              <button  *ngIf="role && user!=name"  (click)="addUserToChat(user)" type="button" class="btn btn-default inner" aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-6 commonChat">
    <h5>cообщения в общем чате</h5>
    <ul id="messages">
    </ul>
    <div class="sendMessage">
      <input id="m" autocomplete="off" #message /><button (click)="send(message.value)" class="btn btn-default">отправить</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="groupChat" #groupChat>
      <h5>сообщения в групповом чату</h5>
      <ul class="list"></ul>
      <ul id="privateChat"></ul>
      <div class="sendMessage">
        <input type="text" id="privateChatText" #privateChatText>
        <button (click)="emitPrivateMessage(privateChatText.value)" class="btn btn-default">отправить</button>
      </div>
    </div>
  </div>
</div>


