<div id="wrapNickname">
  <label for="nickname">enter nick:</label>
  <input type="text" id="nickname" #nickname [(ngModel)]="name">
  <input type="submit" (click)="enterName(nickname.value)">
</div>

<div *ngIf="users" id="users">
  есть народ в чате!
  <ul *ngFor="let user of users">
    <li >
      {{user}}
      <button *ngIf="role && user!=name" (click)="addUserToChat(user)">add</button>
    </li>

  </ul>
</div>
<hr>
<button (click)="secretRoomEnter()">enter secret room</button>
<button (click)=" privateRoomSendMessages()">enter private room</button>
<button (click)=" emitPrivateMessage()">emit private message</button>
<hr>

<div class="groupChat" #groupChat>
  <h4>Group Chat</h4>
  <p></p>
  <p></p>
  <input type="text" id="privateChatText" #privateChatText>
  <button (click)="emitPrivateMessage(privateChatText.value)">отправить</button>
</div>

<ul id="messages">
  Чат
</ul>
<form action="">
  <input id="m" autocomplete="off" #message /><button (click)="send(message.value)">Send</button>
</form>
